

.sectionProject{
    background-color: rgba(117, 211, 211, 0.539);
    color: #fff;
    padding: 25px;
    margin-bottom: 20px;
    display: block;
    transition: .2s;
    

    &-data{
        font-size: 18px;
        line-height: 22px;
        text-shadow: 3px 3px 5px #272727;
    }

    &-name{
        font-size: 22px;
        line-height: 30px;
        padding-top: 15px;
        font-weight: 600;
        padding-bottom: 20px;
        color: rgb(20 76 92);
    }

    &-text{
        text-shadow: 3px 3px 5px #272727;
        font-size: 14px;
        line-height: 18px;
    }

    &:hover{
        background-color: rgba(70, 170, 170, 0.539);
    }
}